.product-list {
  margin-top: 0.5rem;
}
.image-block{
  display: flex;
  .image-box{
    margin: 0 2px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
  }
}
.field_with_errors input{
  border: solid red 1px;
}
