<h2><%= @product.name %></h2>

<p>
  <strong>Images:</strong>
  <div>
    <% @product.images.each do |image| %>
      <%= image_tag image.variant(resize: '500x300') if @product.images.attached? %>
    <% end %>
  </div>
</p>