<h1>Product</h1>

<% @products.each do |product| %>
<div>
  <h3>Name:<%= link_to product.name, product_path(product) %></h3>
</div>

<div>
<% product.images.each do |image| %>
  <%= image_tag image.variant(resize_to_limit: [300, 250]) %>
<% end %>
</div>

<p>
  <div>
    <strong>List Price: </strong>
      <%= product.list_price %>
  </div>
</p>

<p>
  <div>
  <strong>Sell Price: </strong>
    <%= product.sell_price %>
  </div>
</p>
<% end  %>