<h1> <%= @product.name %></h1>


<div>
<% @product.images.each do |image| %>
  <%= image_tag image.variant(resize_to_limit: [500, 300]) %>
<% end %>
</div>

<p>
  <div>
    <strong>Description: </strong>
  </div>
</p>

<p>
  <div>
    <strong>Sell price: </strong>
    <%= @product.sell_price %>
  </div>
</p>

